---
layout: default
---
<ul class="posts-list-cate">
  <h1 class="page-heading-cate">{{ page.title }}</h1>
  <h2 class="post-title-cate">{{ category }}</h2>
  <hr width = "70%" size = "2" align="left">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ page.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>
  {% endfor %}
  
</ul>